{% extends "base.html" %}
{% load i18n static crispy_forms_tags %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Account Activated | PyCon Uganda 2026" %}{% endif %}{% endblock %}


{% block content %}
{% include '2026/navbar.html' %}

<div class="auth-page-content">
  <section class="g-bg-gray-light-v5 py-4" style="padding-bottom: 4rem;">
    <div class="container px-3 px-md-4">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-lg-7 col-xl-6 text-center mx-auto" style="max-width: 36rem;">
          <h1 class="h2 g-color-black g-font-weight-600 mb-3">{% trans "Account Activated" %}</h1>
          <p class="g-color-gray-dark-v2 mb-4">{% trans "Activation completed!" %} 😀</p>
          {% if not user.is_authenticated %}
          <a class="btn btn-lg u-btn-primary rounded" href="{% url 'auth_login' %}"><i class="fa-solid fa-key me-2"
              aria-hidden="true"></i>{% trans "Log in here" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}




{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}