{% extends "base.html" %}
{% load i18n static crispy_forms_tags %}

{% block meta %}
<meta name="referrer" content="origin">
{% endblock %}

{% block meta_title %}{% trans "Confirm password reset | PyCon Africa 2026" %}{% endblock %}

{% block content %}

{% include '2026/navbar.html' %}
<div class="bg-white px-4 py-4 rounded-lg shadow-lg mb-8">
  <div class="container mx-auto">
    <h1 class="text-3xl font-bold text-center mb-4">Set New Password</h1>
    <nav class="flex items-center justify-center mb-4">
      <span class="text-gray-500"><a href="/" class="text-gray-900 hover:underline">Home</a></span>
      <svg class="w-6 h-6 mx-2 fill-current text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M8.59 16.58L13.17 13.07L8.59 9.56L6.42 11.03L2.83 8.59L6.42 6.15L8.59 5.63Z"/>
      </svg>
      <span class="text-gray-500">{% trans "Confirm Password Reset" %}</span>
    </nav>
  </div>
</div>
<section class="bg-white py-16">
  <div class="container mx-auto max-w-lg px-4">
    <div class="flex flex-col items-center justify-center">
      {% if validlink %}
        <h3 class="text-2xl font-bold text-center mb-4">{% trans "Reset Your Password" %}</h3>
        <p class="text-center text-gray-500 mb-8">
          {% trans "Enter your new password below to reset your password." %}
        </p>
        
        <form method="post" action="" class="w-full">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="flex justify-center mt-6">
                <input type="submit" value="{% trans 'Set password' %}" class="btn" />
            </div>
        </form>
      {% else %}
        <div class="text-center">
            <h3 class="text-2xl font-bold text-red-600 mb-4">Password reset unsuccessful.</h3>
            <p class="text-gray-500 mb-8">The password reset link was invalid, possibly because it has already been used or has expired.</p>
            <a class="btn" href="{% url 'auth_password_reset' %}">Try again</a>
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% endblock %}