{% extends "base.html" %}
{% load i18n static crispy_forms_tags %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Password reset | PyCon Africa 2026" %}{% endif %}{% endblock %}


{% block content %}

<!-- ========== HEADER ========== -->
{% include '2026/navbar.html' %}
<!-- ========== END HEADER ========== -->
 
      <section class="bg-white py-16">
        <div class="flex items-center justify-center">
          <img src="{% static '2022/images/forgotpassword.png' %}" alt="" class="w-full md:w-1/2">
        </div>
        <div class="flex flex-col items-center justify-center">
          <h3 class="text-2xl font-bold text-center">Password reset</h3>
          <p class="text-center text-gray-500">
            We have sent an email to <b>your mail</b> with further instructions.
            Please check your email and click the link to continue.
          </p>
          <p class="text-center mt-8">
            <a class="btn" href="/accounts/login/">Log in</a>
          </p>
        </div>
      </section>
 
{% endblock %}

 
 

 

{# This is used by django.contrib.auth #}
