{% extends "base.html" %}
{% load i18n static crispy_forms_tags %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Resend activation email | PyCon Uganda 2026" %}{% endif %}{% endblock %}


{% block content %}
{% include '2026/navbar.html' %}

<div class="auth-page-content">
  <section class="g-bg-gray-light-v5 py-4" style="padding-bottom: 4rem;">
    <div class="container px-3 px-md-4">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-lg-7 col-xl-6 text-center mx-auto" style="max-width: 36rem;">
          <h1 class="h2 g-color-black g-font-weight-600 mb-4">{% trans "Resend Activation Email" %}</h1>

          <form novalidate class="mad-contact-form mad-form--fields-white login text-left" method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
              <div class="form-col">
                {{ form | crispy }}
              </div>
            </div>
            <div class="d-grid gap-2 mb-4">
              <button class="btn btn-lg u-btn-primary rounded primaryAction" type="submit">{% trans "Submit" %}</button>
            </div>
          </form>

          <p class="g-color-gray-dark-v5 g-font-size-13 mb-0">{% trans "Already have an account?" %} <a
              class="g-font-weight-600" href="{% url 'auth_login' %}">{% trans "Login here" %}</a></p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}