{% extends "base.html" %}
{% load i18n static   markdown_extras %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Travel Advice | PyCon Africa" %}{% endif %}{% endblock %}

 


{% block content %}
{% include '2026/navbar.html' %}

    <!-- Header -->
    <div class="max-w-7xl mx-auto px-4 pt-12 pb-8">
      <h1 class="text-5xl font-bold text-gray-900 text-center">Travel Advice</h1>
    </div>

    <!-- body -->
    <div class="max-w-7xl mx-auto px-4 pb-16">
        <div class="max-w-4xl mx-auto">
            {% for travel in travel_advices.all|slice:"0:1" %}
            <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-20 g-mb-30"> 
              <span class="g-color-primary">{{ travel.title }}</span>
            </h2>
            <!--================ Icon Box ================-->
            <article class="text-size-medium"> 
              <div class="mad-icon-box-content markdownx-preview"> 
                <p class="markdownx-preview">{{ travel.advice | markdown | safe }}</p>
              {{ form.media }}
              </div>
            </article>
            <!--================ End of Icon Box ================--> 
            {% endfor %}
        </div>
    </div>

 

{% endblock %}