{% extends "base.html" %}
{% load i18n static %}
{% block meta_title %}{% trans "Recording Release | PyCon Africa 2026" %}{% endblock %}

{% block content %}
{% include '2026/navbar.html' %}

    <!-- Header -->
    <div class="max-w-7xl mx-auto px-4 pt-12 pb-8">
      <h1 class="text-4xl lg:text-5xl font-bold text-gray-900 text-center">Recording Release</h1>
    </div>

    <!-- Body -->
    <div class="max-w-7xl mx-auto px-4 pb-16">
      <div class="max-w-4xl mx-auto text-gray-900">
        <p class="text-lg leading-relaxed mb-6">
          Part of the motivation for PyCon Africa is to help with Python education and advocacy in Africa, and the world at large. Accordingly, we intend to record all PyCon presentations and release the recordings on the web.
        </p>
        <p class="text-lg leading-relaxed mb-6">
          By submitting your talk, you agree to give permission to the Python Software Community Africa (Python Africa) to record, edit, and release audio and/or video of your presentation. We also perform interviews with poster presenters and require recording releases to publish them.
        </p>
        <p class="text-lg leading-relaxed mb-6">
          By default, the recording release checkbox is checked when submitting a proposal. If you wish to opt-out, uncheck the release checkbox. Note that no recordings of your talk will be made. <strong>You cannot opt-out of recording for lightning talks.</strong>
        </p>
        <p class="text-lg leading-relaxed mb-8">
          You agree to the following legalese, which certifies that you are the author of your presentation (or otherwise allowed to present it at PyCon Africa), and which allows the Python Software Community Africa (Python Africa) to:
        </p>
        <ul class="list-disc list-inside text-lg leading-relaxed mb-8 space-y-2">
          <li>Perform the necessary audio and video editing needed to prepare your presentation.</li>
          <li>Distribute the recordings to other people, including on YouTube, or video sites.</li>
          <li>It also allows other people to watch the recordings.</li>
        </ul>

        <h2 class="text-2xl font-bold text-gray-900 mt-10 mb-4">Legalese:</h2>
        <div class="text-lg leading-relaxed space-y-4">
          <p>
            I certify that I, the Submitter, am authorized to license this proposal and its associated presentation (the "User Submission") to the Python Software Community Africa (Python Africa) for use in association with PyCon Africa.
          </p>
          <p>
            Specifically, I, the Submitter, certify that I am either the copyright owner of the User Submission or an authorized licensee of the copyright owner. If I am an authorized licensee of the copyright owner, I certify that I have sublicensable distribution rights.
          </p>
          <p>
            I, the Submitter, hereby grant the Python Software Community Africa (Python Africa) a worldwide, royalty-free, fully paid-up, non-exclusive, perpetual (for the duration of the applicable copyright), sublicensable and transferable license to exercise the rights in the User Submission as follows:
          </p>
          <ul class="list-disc list-inside ml-4 space-y-2">
            <li>The Python Software Community Africa (Python Africa) is granted a license to reproduce the User Submission, to incorporate the User Submission into one or more Collective Works, and to reproduce the User Submission as incorporated in the Collective Works.</li>
            <li>The Python Software Community Africa (Python Africa) is granted a license to create and reproduce Derivative Works.</li>
            <li>The Python Software Community Africa (Python Africa) is granted a license to distribute copies or phonorecords of, display publicly, perform publicly, and perform publicly by means of a digital audio transmission the User Submission including as incorporated in Collective Works.</li>
            <li>The Python Software Community Africa (Python Africa) is granted a license to distribute copies or phonorecords of, display publicly, perform publicly, and perform publicly by means of a digital audio transmission Derivative Works.</li>
          </ul>
          <p>
            I, the Submitter, also hereby grant each person receiving the User Submission distributed by the Python Software Community Africa (Python Africa) a non-exclusive license to access, use, display, and perform the User Submission in a non-commercial, private context.
          </p>
        </div>
      </div>
    </div>
{% endblock %}
