/* Add here all your css styles (customizations) */
.promo {
    background: #fff;
    min-width: 100vw;
}

.promo-grid {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .promo-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* @media (min-width: 1200px) {
    .promo-grid {
        grid-template-columns: 2fr 3fr;
        max-width: 1400px;
        margin: 0 auto;
    }
} */

.promo-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

@media (min-width: 1200px) {
    .promo-detail {
        padding: 3rem 4rem;
    }
}

.promo-title {
    font-weight: bold;
    font-size: 5rem;
    line-height: 1.2;
    color: #000;
}

@media (max-width: 76px) {
    .promo {
        margin-top: 10rem;
    }

    .promo-title {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    .promo-title {
        font-size: 6rem;
        line-height: 1.1;
    }
}

.text-danger {
    color: #dc3545;
}

.promo-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

@media (min-width: 769px) {
    .promo-buttons {
        flex-direction: row;
        gap: 1.5rem;
    }
}

@media (min-width: 1200px) {
    .promo-buttons {
        gap: 2rem;
        margin-top: 2rem;
    }
}

.promo-btn, .tickets a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 750;
    font-size: 1rem;
    color: #fff;
    background-color: #177e89;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border: 1px solid #177e89;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

@media (min-width: 1200px) {
    .promo-btn {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}

.promo-btn:hover {
    background-color: #fff;
    color: #177e89;
    border-color: #177e89;
}

.promo-bg {
    display: none;
}

@media (min-width: 769px) {
    .promo-bg {
        display: block;
        background-size: cover;
        height: 90vh;
    }
}

@media (min-width: 1200px) {
    .promo-bg {
        height: 100vh;
    }
}


.bg-section {
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.about-section {
    background-color: #1f2937;
    padding-top: 2rem;
}

.about-section h2, .about-section h3, .about-section p {
    color: #e5e5e5;
}

.tickets h2 {
    color: #0e1d4d !important;
    font-size: 2rem;
    font-weight: 700;
}

/* Sponsor Section - General Layout */
.sponsor-section {
    margin-top: 2rem;
    position: relative;
}

.sponsor-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

@media (min-width: 768px) {
    .sponsor-container {
        flex-direction: row;
    }
}

/* Call-to-Action (CTA) Styling */
.sponsor-cta {
    flex: 1;
    position: sticky;
    top: 6rem;
    max-width: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    .sponsor-cta {
        text-align: left;
    }
}

.sponsor-title {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: #000;
}

.sponsor-description {
    line-height: 1.75rem;
    color: #333;
    margin: 1rem auto;
    max-width: 90%;
}

@media (min-width: 768px) {
    .sponsor-description {
        margin: 1rem 0;
        max-width: none;
    }
}

.sponsor-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #177e89;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border: 1px solid #fff;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .sponsor-button {
        margin: 0;
    }
}

.sponsor-button:hover {
    background-color: #333;
}

/* Sponsor List Styling */
.sponsor-list {
    flex: 1;
}

.sponsor-category {
    margin-bottom: 2rem;
}

.category-title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #000;
}

.sponsor-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 992px) {
    .sponsor-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

.sponsor-card {
    background-color: #fff8e1;
    border: 1px solid #000;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    display: block;
}

.sponsor-logo-wrapper {
    position: relative;
    padding-bottom: 50%;
}

@media (min-width: 992px) {
    .sponsor-logo-wrapper {
        padding-bottom: 60%;
    }
}

.sponsor-logo {
    position: absolute;
    inset: 2.5rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width: 992px) {
    .sponsor-logo {
        inset: 1.5rem;
    }
}

.subscribe {
    background-color: #ffffff;
    border: 2px solid #177e89;
    border-radius: .5rem;
    padding: 1rem;
}

.subscribe:hover {
    background: #177e89;
    color: #e5e5e5;
}

.footer {
    background: #525252;
    color: #e5e5e5;
    padding: 2rem 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 768px) {
    .footer-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.footer-section {
    text-align: center;
}

@media (min-width: 768px) {
    .footer-section {
        text-align: left;
    }
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .footer-logo {
        margin-left: 0;
    }
}

.footer-text {
    color: #e5e5e5;
    line-height: 1.6;
}

.footer-heading {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #e5e5e5;
}

.footer-link-list,
.footer-contact-list {
    list-style: none;
    padding: 0;
}

.footer-link-list li,
.footer-contact-list li {
    margin-bottom: 1rem;
}

.footer-link {
    color: #e5e5e5;
    text-decoration: none;
}

.footer-link:hover {
    color: #60a5fa;
}

.footer-sublist {
    list-style: disc;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
}

.footer-sublink {
    color: #60a5fb;
    text-decoration: underline;
    line-height: 1.25rem;
}

.footer-sublink:hover {
    color: #e5e5e5;
}

.footer-contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    color: #e5e5e5;
}

@media (min-width: 768px) {
    .footer-contact-item {
        justify-content: flex-start;
    }
}

.footer-icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: #e5e5e5;
    transition: fill 0.3s ease, transform 0.3s ease;
}

.footer-icon:hover {
    fill: #60a5fa;
    transform: scale(1.1);
}

.copyright {
    text-align: center;
    padding: 1.5rem;
    background-color: #404040;
    color: #e5e5e5;
}

.copyright-link {
    font-weight: 600;
    color: #A3A3A3;
    text-decoration: none;
}

.copyright-link:hover {
    color: #60a5fa;
}

@media (max-width: 768px) {
    .bg-section {
        display: none;
    }

    .promo-detail h1 {
        font-weight: 700;
        font-size: 3rem;
    }

    .promo-detail .buttons {
        flex-direction: column;
    }

    .buttons a {
        width: auto;
    }
}