{% load static %}

<header class="{% if request.path == '/' or request.path == '' %}bg-black{% else %}bg-gray-700{% endif %}" id="main-header">
  <div class="navbar-container">
    <!-- Logo -->
    <div>
      <a href="/">
        <img src="{% static '2026/img/logo final.png' %}" class="navbar-logo-img" alt="PyCon Africa 2026" style="max-width: 80px;">
      </a>
    </div>

    <!-- Desktop Navigation -->
    <div class="nav-desktop">
      <!-- About Dropdown -->
      <div class="nav-dropdown-wrapper" x-data="{open:false}">
        <button class="nav-item" @click="open=!open">
          ABOUT
          <i class="fa fa-chevron-up" aria-hidden="true" x-show="open" style="display: none;"></i>
          <i class="fa fa-chevron-down" aria-hidden="true" x-show="!open" style="display: none;"></i>
        </button>
        <div x-show="open" @click.outside="open = false" class="nav-dropdown-menu" style="display: none;">
          <a class="nav-item" href="/2026/about/pycon-africa-2026/">About Us</a>
          <a class="nav-item" href="/2026/coc/">Code of Conduct</a>
          <a class="nav-item" href="/2026/about/privacy-policy/">Privacy Policy</a>
          <a class="nav-item" href="/2026/about/contact-us/">Contact Us</a>
          <!-- <a class="nav-item" href="/2026/travel/">Travel Guide</a> -->
        </div>
      </div>

      <!-- Blog -->
      <a class="nav-item" href="https://pyconafrica.blogspot.com/" target="_blank" rel="noopener noreferrer">BLOG</a>

        <!-- Talks -->
      <div class="nav-dropdown-wrapper" x-data="{open:false}">
        <button class="nav-item" @click="open=!open">
          SPEAK AT PYCON
          <i class="fa fa-chevron-up" aria-hidden="true" x-show="open" style="display: none;"></i>
          <i class="fa fa-chevron-down" aria-hidden="true" x-show="!open" style="display: none;"></i>
        </button>
        <div x-show="open" @click.outside="open = false" class="nav-dropdown-menu" style="display: none;">
          <a class="nav-item" href="/2026/talks/submit/">Proposing a Talk</a>
          <a class="nav-item" href="/2026/talks/how_to_apply/">HOW TO SUBMIT A TALK OR WORKSHOP</a>
          <a class="nav-item" href="/2026/talks/guide/">SPEAKER GUIDELINES</a>
          <a class="nav-item" href="/2026/talks/recording-release/">RECORDING RELEASE</a>
          {% comment %}<a class="nav-item" href="/2026/talks/mentorship/">SPEAKER MENTORSHIP</a>{% endcomment %}
        </div>
      </div>

       <!-- Regions -->
      <div class="nav-dropdown-wrapper" x-data="{open:false}">
        <button class="nav-item" @click="open=!open">
          REGIONS
          <i class="fa fa-chevron-up" aria-hidden="true" x-show="open" style="display: none;"></i>
          <i class="fa fa-chevron-down" aria-hidden="true" x-show="!open" style="display: none;"></i>
        </button>
        <div x-show="open" @click.outside="open = false" class="nav-dropdown-menu" style="display: none;">
          <!-- <a class="nav-item" href="/2026/travel/">Travel Guide</a> -->
          <a class="nav-item" href="/2026/region/kenya-region/">PYCON AFRICA 2026 – KENYA REGION</a>
          <a class="nav-item" href="/2026/region/rwanda-region/">PYCON AFRICA 2026 – RWANDA REGION</a>
          <a class="nav-item" href="/2026/region/tanzania-region/">PYCON AFRICA 2026 – TANZANIA REGION</a>
          <a class="nav-item" href="/2026/region/south-sudan-region/">PYCON AFRICA 2026 – SOUTH SUDAN REGION</a>
        </div>
      </div>

      <!-- Venue -->
      <!-- <div class="nav-dropdown-wrapper" x-data="{open:false}">
        <button class="nav-item" @click="open=!open">
          VENUE
          <i class="fa fa-chevron-up" aria-hidden="true" x-show="open" style="display: none;"></i>
          <i class="fa fa-chevron-down" aria-hidden="true" x-show="!open" style="display: none;"></i>
        </button>

      </div> -->

      <!-- Talks Dropdown -->
      {% comment %}
      <div class="nav-dropdown-wrapper" x-data="{open:false}">
        <button class="nav-item" @click="open=!open">
          TALKS
          <i class="fa fa-chevron-up" aria-hidden="true" x-show="open" style="display: none;"></i>
          <i class="fa fa-chevron-down" aria-hidden="true" x-show="!open" style="display: none;"></i>
        </button>
        <div x-show="open" @click.outside="open = false" class="nav-dropdown-menu" style="display: none;">
          <a class="nav-item" href="/2026/schedule/">Schedule</a>
          <a class="nav-item" href="/2026/speakers_list/">Speakers</a>
          <a class="nav-item" href="/2026/talks/submit_talk/">Submit a Proposal</a>
        </div>
      </div>
      {% endcomment %}

      <!-- Past Events Dropdown -->
      {% comment %}
      <div class="nav-dropdown-wrapper" x-data="{open:false}">
        <button class="nav-item" @click="open=!open">
          PAST EVENTS
          <i class="fa fa-chevron-up" aria-hidden="true" x-show="open" style="display: none;"></i>
          <i class="fa fa-chevron-down" aria-hidden="true" x-show="!open" style="display: none;"></i>
        </button>
        <div x-show="open" @click.outside="open = false" class="nav-dropdown-menu" style="display: none;">
          <a class="nav-item" href="/2020/">2020</a>
          <a class="nav-item" href="/2019/report/">2019</a>
        </div>
      </div>
      {% endcomment %}

      <!-- Uganda Dropdown -->
      <div class="nav-dropdown-wrapper" x-data="{open:false}">
        <button class="nav-item" @click="open=!open">
          UGANDA
          <i class="fa fa-chevron-up" aria-hidden="true" x-show="open" style="display: none;"></i>
          <i class="fa fa-chevron-down" aria-hidden="true" x-show="!open" style="display: none;"></i>
        </button>
        <div x-show="open" @click.outside="open = false" class="nav-dropdown-menu" style="display: none;">
          <a class="nav-item" href="/2026/visa/apply/">APPLYING FOR A VISA</a>
          <a class="nav-item" href="/2026/visa/letter/">GET A VISA LETTER</a>
          <a class="nav-item" href="/2026/visa/bus/">ARRIVING BY BUS TO KAMPALA</a>
          <a class="nav-item" href="/2026/visa/flying/">FLYING TO UGANDA</a>
          <!-- <a class="nav-item" href="/2026/travel/">TRAVEL GUIDE</a> -->
        </div>
      </div>

      <!-- Sponsors Dropdown -->
      <div class="nav-dropdown-wrapper" x-data="{open:false}">
        <button class="nav-item" @click="open=!open">
          SPONSOR
          <i class="fa fa-chevron-up" aria-hidden="true" x-show="open" style="display: none;"></i>
          <i class="fa fa-chevron-down" aria-hidden="true" x-show="!open" style="display: none;"></i>
        </button>
        <div x-show="open" @click.outside="open = false" class="nav-dropdown-menu" style="display: none;">
          <a class="nav-item" href="/2026/sponsor-us/">Sponsor Us</a>
          {% comment %}<a class="nav-item" href="/2026/our-sponsors/">Our Sponsors</a>{% endcomment %}
          <!-- <a class="nav-item" href="https://drive.google.com/file/d/1kFroSEsjlMDYiGPmuYnvSxAaTe-HfIRp/view?usp=drive_link" target="_blank">PyCon Uganda 2026 Sponsorship Prospectus</a> -->
        </div>
      </div>

      <div class="nav-dropdown-wrapper" x-data="{open:false}">
        <button class="nav-item" @click="open=!open">
          PAST
          <i class="fa fa-chevron-up" aria-hidden="true" x-show="open" style="display: none;"></i>
          <i class="fa fa-chevron-down" aria-hidden="true" x-show="!open" style="display: none;"></i>
        </button>
        <div x-show="open" @click.outside="open = false" class="nav-dropdown-menu" style="display: none;">
          <a class="nav-item" href="https://za.pycon.org/" target="_blank" rel="noopener noreferrer">2025</a>
          <a class="nav-item" href="https://africa.pycon.org/2024/" target="_blank" rel="noopener noreferrer">2024</a>
          <a class="nav-item" href="https://africa.pycon.org/2020/" target="_blank" rel="noopener noreferrer">2020</a>
          <a class="nav-item" href="https://africa.pycon.org/2019/" target="_blank" rel="noopener noreferrer">2019</a>
        </div>
      </div>

      <!-- User Authentication -->
      {% if user.is_authenticated %}
      <div class="nav-dropdown-wrapper" x-data="{open:false}">
        <button class="nav-item" @click="open=!open">
          <i class='fa-solid fa-user' aria-hidden='true'></i> {{ user.username }}
          <i class="fa fa-chevron-up" aria-hidden="true" x-show="open" style="display: none;"></i>
          <i class="fa fa-chevron-down" aria-hidden="true" x-show="!open" style="display: none;"></i>
        </button>
        <div x-show="open" @click.outside="open = false" class="nav-dropdown-menu" style="display: none;">
          <a class="nav-item" href="{% url 'profiles:profile_home' %}">My Profile</a>
          {% if request.user.is_superuser %}
          <a class="nav-item" href="/organizers/">Admin Dashboard</a>
          {% endif %}
          <form method="POST" action="/accounts/logout/" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="nav-item">Log out</button>
          </form>
        </div>
      </div>
      {% else %}
      <a class="nav-item" href="/accounts/login/">SIGN UP / LOG IN</a>
      {% endif %}
    </div>

    <!-- Mobile Navigation -->
    <div class="nav-mobile" x-data="{ open: false }">
      <button class="nav-mobile-toggle" @click="open = !open">
        <i class="fa fa-bars" aria-hidden="true" x-show="!open" style="display:none;"></i>
        <i class="fa fa-caret-down" aria-hidden="true" x-show="open" style="display:none;"></i>
      </button>

      <div x-show="open" style="display:none;" class="nav-mobile-menu" @click.outside="open = false">
        <!-- About -->
        <span class="nav-item">ABOUT</span>
        <a class="nav-item nav-item-indent" href="/2026/about/">About Us</a>
        <a class="nav-item nav-item-indent" href="/2026/about/pycon-africa-2026/">About PyCon Africa 2026</a>
        <a class="nav-item nav-item-indent" href="/2026/about/privacy-policy/">Privacy Policy</a>
        <a class="nav-item nav-item-indent" href="/2026/about/contact-us/">Contact Us</a>
        <a class="nav-item nav-item-indent" href="/2026/about/team/">Team</a>
        <a class="nav-item nav-item-indent" href="/2026/fin-aid/">Financial Assistance</a>
        <a class="nav-item nav-item-indent" href="/2026/privacy-policy/">Privacy Policy</a>

        <!-- Blog -->
        <a class="nav-item" href="https://pyconafrica.blogspot.com/" target="_blank" rel="noopener noreferrer">BLOG</a>

        <!-- Venue -->
        <span class="nav-item">VENUE</span>
        <a class="nav-item nav-item-indent" href="/2026/travel/">Travel Guide</a>
        <a class="nav-item nav-item-indent" href="/2026/coc/">Code of Conduct</a>

        <!-- Talks -->
        <span class="nav-item">TALKS</span>
        <a class="nav-item nav-item-indent" href="/2026/talks/submit/">Submit Your Talk</a>
        <a class="nav-item nav-item-indent" href="/2026/talks/how_to_apply/">How to submit a talk or workshop</a>
        <a class="nav-item nav-item-indent" href="/2026/talks/guide/">Speaker Guidelines</a>
        <a class="nav-item nav-item-indent" href="/2026/talks/recording-release/">Recording Release</a>
        {% comment %}<a class="nav-item nav-item-indent" href="/2026/talks/mentorship/">Speaker Mentorship</a>{% endcomment %}

        <!-- Uganda -->
        <span class="nav-item">UGANDA</span>
        <a class="nav-item nav-item-indent" href="/2026/visa/apply/">APPLYING FOR A VISA</a>
        <a class="nav-item nav-item-indent" href="/2026/visa/letter/">GET A VISA LETTER</a>
        <a class="nav-item" href="/2026/visa/bus/">ARRIVING BY BUS TO KAMPALA</a>
        <a class="nav-item" href="/2026/visa/flying/">FLYING TO UGANDA</a>
        <!-- <a class="nav-item" href="/2026/travel/">TRAVEL GUIDE</a> -->

        <!-- South Africa -->
        <!-- <a class="nav-item" href="/pyconza2025/">SOUTH AFRICA</a> -->

        <!-- Sponsors -->
        <span class="nav-item">SPONSORS</span>
        <a class="nav-item nav-item-indent" href="/2026/sponsor-us/">Sponsor Us</a>
        {% comment %}<a class="nav-item nav-item-indent" href="/2026/our-sponsors/">Our Sponsors</a>{% endcomment %}
        <a class="nav-item nav-item-indent" href="https://drive.google.com/file/d/1kFroSEsjlMDYiGPmuYnvSxAaTe-HfIRp/view?usp=drive_link" target="_blank">PyCon Africa 2026 Sponsorship Prospectus</a>

        <!-- Past -->
        <span class="nav-item">PAST</span>
        <a class="nav-item nav-item-indent" href="https://za.pycon.org/" target="_blank" rel="noopener noreferrer">2025</a>
        <a class="nav-item nav-item-indent" href="https://africa.pycon.org/2024/" target="_blank" rel="noopener noreferrer">2024</a>
        <a class="nav-item nav-item-indent" href="https://africa.pycon.org/2020/" target="_blank" rel="noopener noreferrer">2020</a>
        <a class="nav-item nav-item-indent" href="https://africa.pycon.org/2019/report/" target="_blank" rel="noopener noreferrer">2019 report</a>

        <!-- User Authentication -->
        {% if user.is_authenticated %}
        <span class="nav-item">
          <i class='fa-solid fa-user' aria-hidden='true'></i> {{user.username}}
        </span>
        <a class="nav-item nav-item-indent" href="{% url 'profiles:profile_home' %}">My Profile</a>
        {% if request.user.is_superuser %}
        <a class="nav-item nav-item-indent" href="/organizers/">Admin Dashboard</a>
        {% endif %}
        <form method="POST" action="/accounts/logout/" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="nav-item nav-item-indent">Log out</button>
        </form>
        {% else %}
        <a class="nav-item" href="/accounts/login/">SIGN UP / LOG IN</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>
