{% extends "base.html" %}
{% load i18n static markdown_extras %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "PyLadies | PyCon Uganda" %}{% endif %}{% endblock %}

{% block content %}
<!-- {% include '2025/navbar.html' %} -->

<section class="max-w-4xl mx-auto px-4 pt-4">
    <h2 class="text-3xl font-bold m-4 text-center">About The Summit</h2>
    <p class=" text-center">
      Pyladies is an international mentorship group with a focus on helping
      more women become active participants and leaders in the Python
      open-source community. PyLadies also aims to provide a friendly
      support network for women and a bridge to the larger Python world.
      Anyone with an interest in Python is encouraged to participate! The
      meetups happen every third Saturday of the month.
    </p>
  </section>

  <div class="md:container mx-auto px-4 py-12">
    <div class="grid md:grid-cols-2 gap-12">
      <div class="shadow-lg p-4 md:p-8 rounded-lg hover:shadow-none">
        <h2 class="text-2xl font-bold mb-4 text-center">
          Your Open Source Journey Starts Here
        </h2>

        <p class="mb-4">
          This annual open source summit brings together members of the
          Pyladies and Python open source community to grow our
          community&#39;s contribution to open source. Expect inspiring
          keynotes and productive collaboration with local open source
          maintainers. Exceptional contributions will be awarded (T.Shirts
          and other Swag).
        </p>
        <p class="mb-4">
          Reserve your attendee spot today by clicking the button below:
          <br />
        </p>
        <div class="flex justify-center">
          <a
            target="_blank"
            href="https://forms.gle/4pM8z7euTbGXetQw5"
            class="px-4 py-2 bg-[#3774A2] text-white hover:bg-white  hover:text-[#3774A2] hover:underline text-lg rounded transition duration-200 block"
          >
            Register Now
          </a>
        </div>
      </div>
      <div class="shadow-lg p-8 rounded-lg hover:shadow-none">
        <h2 class="text-2xl font-bold mb-4 text-center">
          Are you an Open Source Maintainer?
        </h2>
        <p class="mb-4">
          Are you passionate about open-source and ready to Make an impact?
          Express your interest to join the Pyladies open source summit.
        </p>

        <p class="mb-4">
          Selected projects and maintainers will have a chance to
          collaborate With attendees and get new contributors.
        </p>
        <p>
          Email your statements of interest to:&nbsp;
          <a
            href="mailto:kampala@pyladies.com"
            class="text-blue-500 text-lg hover:underline"
          >
            kampala@pyladies.com
          </a>
        </p>
      </div>
    </div>
  </div>
  
{% endblock %}